html {
	background: repeating-linear-gradient(-40deg, #ccc, #eee 20px, #eeeeef 20px, #aaaaaf 25px);
}
main {
	max-width: 1000px;
	margin: auto;
}
.host {
	background-color: rgba(200, 200, 200, 0.8);
	padding: 1px 1em 1em;
	border-radius: 12px;
	margin: 1em 0.5em;
}

.host table {
	width: 100%;
}
.host table > tbody td {
	font-family: monospace;
	font-weight: bolder;
}
.host table > thead td {
	background: #334;
	color: #fff;
	padding: 6px;
	border-radius: 3px;
}
.host table td.error {
	color: #a00;
	text-align: center;
	background-color: rgba(20, 20, 20, 0.15);
	padding: 10px;
}
.effort {
	border: solid;
	border-radius: 5px;
	text-align: center;
}
.effort.small {
	background-color: #ffd;
	color: #550;
}
.effort.considerable {
	background-color: #fdc;
	color: #530;
}
.effort.huge {
	background-color: #fdd;
	color: #500;
}
.effort.automatic {
	background-color: #e9ffe9;
	color: #050;
}
.effort.tolerable {
	background-color: #def;
	color: #005;
}
.effort.unknown {
	background-color: #ddd;
	color: #333;
}