services:
  lucos_backups:
    build: .
    container_name: lucos_backups
    image: lucas42/lucos_backups
    ports:
      - $PORT:$PORT
    environment:
      - PORT
      - SSH_PRIVATE_KEY
      - GITHUB_KEY
      - SCHEDULE_TRACKER_ENDPOINT
    restart: always
    network_mode: host
