[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fabric = "*"
pyyaml = "*"
jinja2 = ">=3.1.6"
lucos-loganne-pythonclient = "==1.0.37"
lucos-schedule-tracker-pythonclient = ">=2.0.1"

[dev-packages]
pytest = "*"
